@import './utils/css-variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: var(--codecave-background-secondary);

}

header {
    background-image: url(/Images/cave-img-long.svg);
    background-size: cover;
    height: 100%;
    background-color: var(--codecave-background);

}

body {
    background-color: black;
}

.logo-div {
    display: flex;
    justify-content: center;
}

.logo-div {
    animation: drop-in 1500ms;
}

@keyframes drop-in {
    from {
        transform:
            rotate(-2deg) translateY(-100%);
        opacity: 0;
    }

    to {
        transform:
            rotate(0deg) translateY(0%);
        opacity: 1;
    }
}

.codecave-logo {
    margin-left: -15px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-animation: fadeOut linear;
    animation-timeline: view(5px 600px);
}

.codecave-login-logo {
    width: 600px;
    margin-top: -30px;
    cursor: pointer;
}

@-webkit-keyframes fadeOut {
    from {
        scale: .7;
        opacity: 2;
    }

    to {
        scale: 1.6;
        opacity: 1;
    }

}

.emailMessage {
    /* position: absolute;
    background: linear-gradient(to right, rgb(66, 64, 135) 0%, transparent 98%);
    font-size: 20px;
    margin-left: 340px;
    margin-top: 40px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    width: 500px;
    border-right: none; */
}

.success-message {
    font-family: var(--codecave-font-dm-sans);
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: -25px;
    width: auto;
    border-radius: 20px;
    height: 40px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    animation: grow-and-shrink 600ms;
    animation-timing-function: ease-in-out;
    color: #aebdff;
    background-color: #1f243b;
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.error-message {
    font-family: var(--codecave-font-dm-sans);
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    width: auto;
    border-radius: 20px;
    height: 40px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    animation: bounce 200ms alternate 4 cubic-bezier(.25, .65, .6, 1);
    color: rgb(255, 95, 95);
    background-color: rgb(44, 25, 25);
    
}

.loader-div{
    display: flex;
    justify-content: center;
}

@keyframes spin {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  .spinner {
    animation: spin 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .spinner {
    margin-top: 400px;
    margin-bottom: 600px;
    width: 75px;
  }

.comment-error-message {
    font-family: var(--codecave-font-dm-sans);
    display: flex;
    justify-content: center;
    color: rgb(220 196 255);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: -50px;
    background-color: rgb(47 34 54);
    width: auto;
    border-radius: 20px;
    height: 40px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 449px;
    margin-right: -295px;
    animation: bounce 200ms alternate 4 cubic-bezier(.25, .65, .6, 1);

}
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.login {
    font-family: "DM Sans";
    color: rgb(255, 255, 255);
    margin-right: 6px;
    margin-left: 6px;
}


.error-message-div {
    display: flex;
    justify-content: center;
}

.login-signup-btn-div {
    display: flex;
    justify-content: flex-end;
}

.header-signup-btn {
    margin: 30px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    font-family: var(--codecave-font-dm-sans);
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.3);
    animation: drop-in 2000ms;

}

.header-logout-btn {
    margin: 30px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    font-family: var(--codecave-font-dm-sans);
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.3);
    animation: drop-in 2000ms;
    /* display: none; */

}

.header-logout-btn:hover {
    background-color: var(--codecave-active);
    color: white;
    border: none;
    transition: 0.1s;
}

.header-login-btn {
    margin: 30px;
    margin-right: -15px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: var(--codecave-background-secondary);
    color: var(--codecave-background);
    border-radius: 20px;
    border-width: 1px;
    font-family: var(--codecave-font-dm-sans);
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.3);
    animation: drop-in 1500ms;

}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.header-login-btn:hover {
    background-color: var(--codecave-secondary);
    color: white;
    border: none;
    transition: 0.1s;
}

.header-signup-btn:hover {
    background-color: var(--codecave-active);
    color: white;
    border: none;
    transition: 0.1s;
}

.buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#nav-btns {
    margin: 20px;
    margin-top: 50px;
    border: solid;
    width: 110px;
    height: 40px;
    background-color: var(--codecave-background);
    border-radius: 20px;
    border-width: 1px;
    font-family: '';
    font-size: var(--font-size-standard);
    cursor: pointer;

}

#nav-btns:focus {
    animation: pulse 1.5s infinite alternate;
    background-color: var(--codecave-active);
    border: var(--codecave-active);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(177, 186, 255, 0.685);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.oreIcon {
    height: 1.5rem;
}


.ip-btn,
.fin-btn {
    margin: 20px;
    margin-top: 50px;
    border: solid;
    width: 100px;
    height: 40px;
    background-color: var(--codecave-background);
    border-radius: 20px;
    border-width: 1px;
    font-family: var(--codecave-font-dm-sans);
    cursor: pointer;
}

#nav-btns:hover {
    background-color: var(--codecave-active);
    border: var(--codecave-active);
    color: var(--codecave-background-secondary);
    transition: 0.1s;
}

.add-project-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-project-btn {
    margin: 20px;
    margin-top: 40px;
    margin-bottom: -5px;
    border: none;
    width: 275px;
    height: 45px;
    background-color: var(--codecave-secondary);
    border-radius: 25px;
    border-width: 1px;
    font-family: '';
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    animation: pulse 1.5s infinite alternate;
}

.add-project-btn:hover {
    background-color: var(--codecave-hover);
    border-width: .5px;
    transition: 0.1s;
}

.project-card-div {
    display: flex;
    justify-content: center;
}

.single-project-card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.project-card {
    margin-top: 40px;
    background-color: var(--codecave-primary);
    width: 1000px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    animation: fade-out 1500ms;

}

.single-project-card {
    margin-top: 60px;
    background-color: var(--codecave-primary);
    width: 1000px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    animation: drop-in 1500ms;
    padding-bottom: 45px;

}

.project-title-div {
    width: 600px;
}

.project-title {
    margin-left: 30px;
    margin-top: 20px;
    font-family: var(--codecave-font-dm-sans);
    font-weight: 600;
    font-size: 45px;
    letter-spacing: -3px;
}

.project-description-div {
    width: 650px;
}

.single-project-description-div {
    width: 650px;
    height: auto;
}

.project-description {
    margin-left: 30px;
    margin-top: 20px;
    font-family: var(--codecave-font-mont);
    line-height: var(--line-height);
    height: 140px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.single-project-description {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: var(--codecave-font-mont);
    line-height: var(--line-height);
    height: 165px;
    overflow: hidden;
}


.placeholder-img {
    float: right;
    width: 275px;
    margin-right: 30px;
    margin-top: -200px;
    border-radius: 15px;
}

.single-placeholder-img {
    float: right;
    width: 275px;
    margin-right: 30px;
    margin-top: -230px;
    border-radius: 15px;
}

.comment-form-div {
    display: flex;
    justify-content: center;
}

.comment-form {
    background-color: var(--codecave-primary);
    border-radius: 20px;
    width: 1000px;

}

.comment-list {
    /* background-color: #000000bb; */
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 98%);
    border: solid #5f64a6;
    width: 925px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 200px;
    -webkit-animation: slide-in 1000ms;
}

.comments-title {
    margin-left: 22px;
    color: #000000;
    margin-top: 7px;
    font-family: var(--codecave-font-dm-sans);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -3px;
}

.divider {
    border: solid #5f64a6;
    border-width: 30px;
    margin-top: -54px;
    width: 922px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

hr {
    opacity: 100%;
    margin-top: 30px;
}



.comment-text {
    font-family: var(--codecave-font-dm-sans);
    margin-top: 20px;
    margin-left: 22px;
    font-size: 20px;
}

.comment-user {
    font-family: var(--codecave-font-dm-sans);
    font-style: italic;
    color: #939393;
    margin-left: 38px;
    font-size: 15px;
    margin-bottom: 40px;
}

.view-project-btn {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 150px;
    height: 35px;
    background-color: var(--codecave-secondary);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.comment-btn {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 35px;
    border: none;
    width: 125px;
    height: 35px;
    background-color: var(--codecave-secondary);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 25px;
    /* display: none; */
}

.submit-comment-btn {
    margin-top: 20px;
    margin-bottom: 35px;
    border: none;
    width: 125px;
    height: 35px;
    background-color: var(--codecave-secondary);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 25px;
}

.remove-project-btn {
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 525px;
    border: none;
    width: 125px;
    height: 35px;
    background-color: rgb(207, 84, 84);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 25px;
}

.comment-section-div {
    display: flex;
    justify-content: center;
}

.collab-btn {
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 35px;
    margin-left: 160px;
    border: none;
    width: 125px;
    height: 35px;
    background-color: var(--codecave-active);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
    position: absolute;
    bottom: 25px;
}

.view-project-btn:hover {
    background-color: var(--codecave-hover);
    border-width: .5px;
    transition: 0.1s;
}

.time-stamp {
    font-family: var(--codecave-font-dm-sans);
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    color: #939393;
}

.single-project-time-stamp {
    font-family: var(--codecave-font-dm-sans);
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    color: #939393;
    position: absolute;
    bottom: 32px;
}

.project-owner {
    font-family: var(--codecave-font-dm-sans);
    margin-left: 28px;
    margin-bottom: 9px;
    margin-top: -21px;
    font-style: italic;
    color: #939393;
    position: absolute;
    bottom: 5px;
}


.add-project-btn-2-div {
    display: flex;
    justify-content: space-around;
    margin-left: 890px;
}

.add-project-btn-2 {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    float: right;
    border: none;
    width: 110px;
    height: 50px;
    background-color: var(--codecave-secondary);
    border-radius: 25px;
    border-width: 1px;
    font-family: var(--codecave-font-dm-sans);
    cursor: pointer;
    font-size: 40px;
}

.add-project-btn-2:hover {
    background-color: var(--codecave-hover);
    border-width: .5px;
    transition: 0.1s;
}

.form-div {
    display: flex;
    overflow: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: -30px;
    flex-wrap: wrap;
    -webkit-animation: slide-in 1000ms;
    /* display: none; */
}

.signup-form-div {
    display: flex;
    overflow: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: -30px;
    flex-wrap: wrap;
    animation: drop-in 1300ms;

}

.form-card {
    width: 485px;
    height: 550px;
    margin: 15px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 30px;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    border: none;
    background-color: var(--codecave-primary);
    color: white;
    cursor: default;
}

.add-project-form-card {
    width: 650px;
    height: 860px;
    margin: 15px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
    margin-top: 85px;
    justify-content: center;
    border-radius: 30px;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    border: none;
    background-color: var(--codecave-primary);
    color: white;
    cursor: default;
}

.import-logo {
    width: 25px;
    margin-bottom: 10px;
    margin-left: 50px;
}

#signup-form-card {
    height: 690px;
}

.login-text-div {
    display: flex;
    justify-content: center;
    background-color: var(--codecave-primary);
}

.login-text {
    margin-top: 60px;
    background-color: var(--codecave-primary);
    font-family: var(--codecave-font-dm-sans);
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -2px;
}

.input-div {
    margin-top: 50px;
}

.login-input {
    background-color: var(--codecave-background-secondary);
    border: none;
    margin: 10px;
    width: 440px;
    height: 50px;
    border-radius: 10px;
    color: var(--codecave-background);
    font-family: var(--codecave-font-dm-sans);
    padding-left: 10px;
    outline: none;
}

.project-title-input {
    background-color: var(--codecave-background-secondary);
    border: none;
    margin: 10px;
    width: 550px;
    height: 50px;
    border-radius: 10px;
    color: var(--codecave-background);
    font-family: var(--codecave-font-dm-sans);
    padding-left: 10px;
    outline: none;
}

.project-description-input {
    background-color: var(--codecave-background-secondary);
    border: none;
    margin: 10px;
    width: 550px;
    height: 200px;
    border-radius: 10px;
    color: var(--codecave-background);
    font-family: var(--codecave-font-dm-sans);
    padding-bottom: 150px;
    padding-left: 10px;
    outline: none;
}

.comment-input {
    background-color: var(--codecave-background-secondary);
    border: none;
    margin: 10px;
    margin-bottom: 56px;
    margin-left: 0;
    width: 635px;
    height: 110px;
    border-radius: 10px;
    color: var(--codecave-background);
    font-family: var(--codecave-font-dm-sans);
    padding-bottom: 70px;
    padding-left: 10px;
    outline: none;
    /* display: none; */
}

.import-media {
    background-color: var(--codecave-background-primary);
    border: white;
    border-style: dashed;
    margin: 10px;
    width: 550px;
    height: 200px;
    border-radius: 10px;
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.import-title {
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
}

.upload-btn {
    margin-top: 20px;
    border: none;
    width: 125px;
    height: 35px;
    background-color: var(--codecave-active);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
}

.done-btn {
    margin-top: 30px;
    border: none;
    width: 175px;
    height: 35px;
    background-color: var(--codecave-secondary);
    border-radius: 20px;
    font-family: '', sans-serif;
    cursor: pointer;
    box-shadow: 0px 2px 17px rgb(0, 0, 0, 0.1);
}

.done-btn-div {
    display: flex;
    justify-content: center;
}

.username-input {
    background-color: white;
    border: none;
    margin: 10px;
    margin-bottom: -40px;
    margin-top: 80px;
    width: 440px;
    height: 50px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: var(--codecave-font-dm-sans);
    padding-left: 10px;
    outline: none;
}

.userName-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.add-project-title-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.email-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.password-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.github-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.login-btn-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}


.signup-btn-div {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
}

.login-btn {
    font-family: var(--codecave-font-dm-sans);
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--codecave-secondary);
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: var(--codecave-hover);
    width: 190px;
    transition: 0.2s;
}

.signup-btn {
    font-family: var(--codecave-font-dm-sans);
    border: solid var(--codecave-background-secondary);
    border-width: 1px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--codecave-primary);
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn:hover {
    background-color: var(--codecave-background-secondary);
    color: var(--codecave-background);
    width: 190px;
    transition: 0.2s;
}

.or-div {
    display: flex;
    justify-content: center;
    background-color: var(--codecave-primary);
}

.or {
    background-color: var(--codecave-primary);
    display: flex;
    justify-content: center;
    font-family: var(--codecave-font-dm-sans);
}

.name-div {
    display: flex;
    justify-content: start;
}

.name-input {
    background-color: var(--codecave-background-secondary);
    border: none;
    margin-left: 24px;
    margin-top: 50px;
    margin-right: -10px;
    margin-bottom: -40px;
    width: 212px;
    height: 50px;
    border-radius: 10px;
    color: var(--codecave-background);
    font-family: var(--codecave-font-dm-sans);
    padding-left: 10px;
    outline: none;
}

.error-text {
    display: flex;
    justify-content: center;
    color: rgb(255, 95, 95);
    font-family: var(--codecave-font-dm-sans);
    margin-top: 30px;
    margin-bottom: -30px;
}

footer {
    display: flex;
    justify-content: center;
    font-family: var(--codecave-font-dm-sans);
    font-size: var(--font-size-small);
    margin-bottom: 30px;
    margin-top: 60px;
}


footer p {
    color: var(--codecave-footer-font-color);
    margin-right: 50px;
}


footer a {
    color: var(--codecave-footer-font-color);
    margin-right: 50px;
}

/* Don't want hyperlink element to look different
after being clicked */
footer a:visited {
    color: var(--codecave-footer-font-color);
}

footer button {
    text-align: center;
    color: var(--codecave-background-secondary);
    background-color: var(--codecave-donate-btn);
    border-style: none;
    border-radius: 10px;
    padding: 5px;
}

.donate-icon {
    height: 15px;
    padding-left: 5px;
}




/* xs */
@media screen and (min-width: var(--breakpoint-extra-small)) {}

;

/* sm */
@media screen and (min-width: var(--breakpoint-small)) {}

;

/* md */
@media screen and (min-width: var(--breakpoint-medium)) {}

;

/* lg */
@media screen and (min-width: var(--breakpoint-large)) {}

;

/* xl */
@media screen and (min-width: var(--breakpoint-extra-large)) {}

;

/* 2xl */
@media screen and (min-width: var(--breakpoint-extra-extra-large)) {}

;

/*Temp css */
.comment-form-div {
    display: none;
}

.comment-form-div.active {
    display: flex;
}

.comment-btn.hide {
    display: none;
}

.collab-btn.hide {
    display: none;
}