/* CSS Variables, change values as desired */

/* Font Imports -
/* Fonts taken from CDN Fonts ( https://www.cdnfonts.com/ ) */
@import url('https://fonts.cdnfonts.com/css/mont');
@import url('https://fonts.cdnfonts.com/css/rogan');
@import url('https://fonts.cdnfonts.com/css/adlam-display');
@import url('https://fonts.cdnfonts.com/css/dm-sans');
                

:root {

/* Color Schema */
    --codecave-primary: #2d3059;
    --codecave-secondary: #5971db;
    --codecave-hover: #2848ca;
    --codecave-accent:  #a498e9;
    --codecave-active: #8b60ae;
    --codecave-background: #000000;
    --codecave-background-secondary: #ffffff;


/* Typography / Font-Families */
    --codecave-font-mont: 'Mont', sans-serif;
    --codecave-font-rogan: 'Rogan', sans-serif;
    --codecave-font-btn: 'ADLaM Display', sans-serif;
    --codecave-font-dm-sans: 'DM Sans', sans-serif;
    --line-height: 1.5;
    --font-size-small: 0.8rem;
    --font-size-standard: 1rem;
    --font-size-large: 1.2rem;
    --font-size-larger: 2rem;


/* Spacing */
    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 16px;


/* Breakpoints 
 
NOTE: Definitions are based off of MOBILE-FIRST design,
when using @media queries, please use (min-width: ).
 
Using (max-width: ) in this case will result in poor
responsiveness. 

*/
    --breakpoint-extra-small: 475px;
    --breakpoint-small: 640px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 1024px;
    --breakpoint-extra-large: 1280px;
    --breakpoint-extra-extra-large: 1536px;
}

